<div class = "container">
  <div class = "row-10">
    <div class = "col">
      <span class = "title bg-light" style="font-size: 2rem;">
        商品編集
      </span>
    </div>
  </div>

  <div class = "row">
    <div class = "col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">
      <%= render 'form', item: @item, form_url: admin_item_path, submit_text: '変更を保存' %>
    </div>
  </div>
</div>