<div class = "container">
  <div class = "row-10">
    <div class = "col">
      <span style="padding: 5px 10px;">
        <h3>新規商品登録</h3>
      </span>
    </div>
  </div>

  <%= render 'form', item: @item %>