<div class="container">
  <div class="row">
    <div class="col">
      <span style="font-size: 2rem; background-color: #FFFAFA;">会員一覧</span>
    </div>
  </div>
  <br>
  <div class = "row">
        <table class="table table-hover">

          <thead>
            <tr style="background-color: #FFFAFA;">
              <th>会員ID</th>
              <th>指名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>

          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
              <td><%= customer.email %></td>
              <td><%= customer.customer_status %></td>
            </tr>
          <% end %>

        </table>
    </div>
  </div>
</div>