<div class = "container">
  <div class = "row">
    <div class = "col">
      <h3>ジャンル編集</h3>

      <%= form_with(model: @genre, url: admin_genre_path) do |form| %>
            <div class = "form-groupe row">
              <label for"name", class="col-sm-2 col-form-label">ジャンル名</label>
              <div class="col-sm-6">
                <%= form.text_field :name,placeholder:"ジャンル名", class:"form-control" %><br>
              </div>
              <div class="col-sm-1">
                <%= form.submit '　変更を保存　', class: "btn btn-sm btn-success" %>
              </div>
            </div>
      <% end %>

    </div>
  </div>
</div>