* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

h1 {
  font-family: "Arial Black", sans-serif;
}
h3 {
  font-family: "游ゴシック","ヒラギノ角ゴ ProN W3", sans-serif;
}

.flex{
  display: flex;
  justify-content: center;
}

.about-image1{
  margin: 0 auto;
  max-width: 80%;
  display: block;
}