header.custom {
  background-color: pink !important; 
  color: white;
}

.btn-custom {
  background-color: pink;
  color: white;
  border-color: white;
  position: relative;
}

.btn-custom:hover {
  background-color: white;
  color: pink;
}

footer.custom {
  background-color: pink !important;
  color: white;
}
